<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Moti-Moti | Desserts</title>
  <link rel="stylesheet" href="static/css/page_layout.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/profile.css">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
<script src="static/js/general.js" defer></script>
<script src="" defer></script>

  <div class="layout_container">
    <!----------HEADER---------->
    <header>
      <!-----MOBILE ONLY DROPDOWN MENU----->
      <div class="topnav">
        <a href="../index.html" class="active">Moti-Moti</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks" class="menuGrid">
          <a href="../index.html">Main</a>
          <a href="../products.html">Products</a>
          <a href="../gallery.html">Gallery</a>
          <a href="../delivery.html">Cart</a>
          <a href="../contacts.html">Contacts</a>
          <a href="../locations.html">Locations</a>
          <a href="../about.html">About Us</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="navDropDown()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!-----TABLET AND LAPTOP MENU----->
      <div id="logo" class="generalLayout">Moti-Moti</div>
      <nav class="generalLayout">
        <ul>
          <li><a href="../index.html">Main</a></li>
          <li><a href="../delivery.html">Cart</a></li>
          <li><a href="../about.html">About Us</a></li>
          <li><a href="../contacts.html">Contacts</a></li>
          <li><a href="../locations.html">Locations</a></li>
        </ul>
      </nav>
    </header>
    <!----------SIDEBAR---------->
    <div id="sidebar" class="generalLayout">
      <aside class="sidebar">
        <h2>Categories</h2>
          <ul>
            <li><a href="../products.html">Products</a></li>
            <li><a href="../gallery.html">Gallery</a></li>
            <li><a href="../reviews.html">Reviews</a></li>
          </ul>
      </aside>
    </div>

    <!----------MAIN---------->
    <main>
  <div class="auth-card">
    <h1>Create Account 🍰</h1>
    <form method="POST" action="/register">
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" name="username" placeholder="Username" required>
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="name@example.com" required>
      </div>

     <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="********" required>
      </div> 

      <button class="btn" type="submit">Register</button>
    </form>

    <a href="login.html" class="link">Already have an account? Log in</a>
  </div>
  </main>
  <script>
    document.getElementById('registerForm').addEventListener('submit', e => {
      e.preventDefault();
      alert('🎉 Registration successful! Welcome to MOTI.');
      window.location.href = 'login.html';
    });
  </script>
  

    <!----------FOOTER---------->
  

  <footer>
        <p>Team SweetCoders | Members: Bekasyl, Mereke, Zere, Danial</p>
    </footer>

</body>

</html>
